body {
	background-color: #e5e2e4;
}

/* Header
=================================================*/
header {
	width: 100%;
	height: 60px;
	background-color: #373b47;
	color: #ffffff;
}

  header img,h1 { display: inline-block; vertical-align: top; }
  header h1 {
  	margin-top: 10px;
  	font-family: 'Lobster', cursive;
  }  

	header a {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		color: #ffffff;
	}

	header i {
		margin-left: 5px;
	}


	.go-right {
		margin-top: 20px;
		float: right;
	}

/* Navbar
================================================*/
nav {
	display: block;
	width: 100%;
	min-height: 80px;
	background-color: #0071bd;
}

	nav ul,li{ display: inline-block; }

	nav ul {
		color: #ffffff;
		font-weight: bold;
		margin-top: 25px;
	}
  
	nav li {
		cursor: pointer; 
		margin: 0 5px 0 0px;
		padding: 3px 15px 3px 15px;
		border: 1px solid #ffffff;
		border-radius: 3px;
	}

	nav li:hover {
		color: #0071bd;
		background-color: #ffffff; 		
	}

	nav a {
		color: #ffffff;
	}
	
	nav a:hover {
		color: #0071bd;
	}

/* Fonts
==========================================*/
h1,h2,h3,h4,h5,h6,p,a,ul,table,tr,td,input,button,select {
	font-family: 'Open Sans', sans-serif;
}

.justify {
	text-align: justify;
}
/* Linhas 
==========================================*/
hr { border: solid #d8d6d7; border-width: 1px 0 0; clear: both; margin: 5px 0 30px; height: 0; }

/* Buttons
==========================================*/

/* Forms
==========================================*/
input,button, select {
	background-color: #faf8f9;
	border: 1px solid #d8d6d7;
	min-height: 25px;	

}

.button{
	font-family: 'Open Sans', sans-serif;
	display: inline-block !important;
	font-size: 0.9em;
	margin-left: 10px;
	background-color: #faf8f9;
	border: 1px solid #d8d6d7;
	min-height: 25px;	
	padding-left: 5px;
	padding-right: 5px;
	line-height: 25px;
}

/* Box Styles
==========================================*/

/* Links
=========================================*/
a {
	text-decoration: none;
}

/* Caixa de entrada
=========================================*/

table {	
	width: 100%;	
	margin-top: 20px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
	padding: 0;
	border-spacing: 0;

}

td a {
	margin-left: 10px ;	
	color: #555555;
}

td,th{	
	border-bottom: 1px solid #d8d6d7;
	height: 30px; 
}

.topo {
	border-width:0; 
	height: 30px; 
	width: 5%;
	background-image: -moz-linear-gradient( 90deg, rgb(236, 234, 235) 0%, rgb( 247, 245, 246) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(236, 234, 235) 0%, rgb(  247, 245, 246) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(236, 234, 235) 0%, rgb( 247, 245, 246) 100%);
}

/* Visualizar 
=======================================*/

#visualizar {
	position: relative;
	height: 100%; 
	min-height: 400px; 	
	margin-top: 20px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
}

#visualizar #header  {
	display: block;	
	border-bottom: 1px solid #d8d6d7;
	min-height: 40px; 		
	width: 100%;	
	margin: 0px !important;	
}

#visualizar #header a {
color: #0071bd;
}

#visualizar #header h4 {
	margin-top: 15px;
	margin-left: 25px;
}
#visualizar #header p{	
	margin-left: 45px; 
	margin-bottom: 15px;
}

#lista {  
	position: relative;	
	height: 100%;	
	border-right: 1px solid #d8d6d7;
	margin: 0px !important;
}
#lista li{ 
	display: block;	
	border-bottom: 1px solid #d8d6d7;
	min-height: 30px;
	width: 100%;	
}

#lista li i {
	margin: 10px;
	margin-left: 15px;
}

#pdf{
	margin: 10px;
	margin-left: 20px;	
}

/* Pedido sucesso
=======================================*/

#pedido-sucesso{
	min-height: 300px; 	
	margin-top: 20px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
}

#pedido-sucesso p {
	margin-top: 15px;
	margin-left: 25px; 
	margin-bottom: 15px;
}

#pedido-sucesso p i{
	margin-right: 5px;
}

#pedido-sucesso h2,
#pedido-sucesso h3{	
	text-align: center;	
	margin-bottom: 20px;
}

#pedido-sucesso h3{
	font-weight: normal;
	margin-bottom: 50px;
}

#info-local{
	max-width: 1140px;
	min-height: 300px; 	
	margin-top: 20	px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
	margin-bottom: 30px;
}

#info-local p, 
#info-local h3 {
	font-weight: normal;
	margin-top: 15px;
	margin-left: 25px; 
	margin-bottom: 15px;

}

#mapa {
	margin-top: 20px;
	margin-bottom: 20px;

}

/* Novo pedido
=======================================*/

/* NOVO PEDIDO HEADER */
#novo-pedido{
	min-height: 300px; 	
	margin-top: 20px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
}
#novo-pedido #header {
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 25px;
	font-size: 18px; 
}

#novo-pedido #header  i {
		margin-right: 5px;
}

#novo-pedido hr {
	margin-bottom: 20px; 
}

/*
  TITULO ROTULO E INPUT
--------------------------------------------------------------*/

#novo-pedido #titulo-rotulo{

	margin-bottom: 5px;
	margin-left: 55px;
}

#empresa{
	min-height: 100px; 	
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	border-bottom: 2px solid #d8d6d7;
	color:  #555555;
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 15px;
	padding-left: 30px;
}
#empresa select{
	margin-left: 10px; 
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

#empresa div {
	display: inline-block;
	vertical-align: top;
}

#cabecalho-cidade{
	margin-left: 0px;
}


#cabecalho-cidade select{
	padding-right: 50px;

}

#cabecalho-empresa{
	margin-left: 0px;
	margin-bottom: 10px;
}

#cabecalho-empresa select{
	padding-right: 122px;

}
#circulo-preto{
	margin-top: 10px;
	border-radius: 5px;
}


#circulo-azul{
	margin-top: 10px;
	border-radius: 5px;

}
#circulo-azul i{
	color: #0071bd;

}

/*
	OPCAO DE ARQUIVO
-------------------------------------------------*/
#opcao-arquivo{
	min-height: 100px; 	
	margin-top: 5px;
	background-color:  #f6f4f5;
	color:  #555555;
	margin-bottom: 30px;
	margin-right: 40px;
	margin-left: 40px;

}

#buttpn-upload{
	height: 29px;
	width: 90%;
}


#opcao-arquivo div {
	display: inline-block;
	vertical-align: top;
}

#opcao-arquivo button {
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 10px;
	font-size: 16px; 
}

#pagina-colorida{
	margin-top: 0px !important;	
	font-size: 16px; 
	width: 95%;
	height: 29px;

}


#da-pagina {
	display: inline-block !important;
	height: 29px;
}


#opcao-arquivo p{
	font-family: 'Open Sans', sans-serif;
	display: inline-block !important;

	margin-left: 10px;
	background-color: #faf8f9;
	border: 1px solid #d8d6d7;
	min-height: 27px;	
	padding-left: 5px;
	padding-right: 5px;
	line-height: 27px;

}


#opcao-arquivo input {
	display: inline-block;
}

#money p, #enviar{
	display: inline-block;
}

#titulo-input{
	margin-bottom: 15px;
	margin-left: 55px;
	width: 500px;
}

#estado-rotulo{
	margin-top: 5px;
	margin-left: 10px;
}

#cidade-rotulo {
	margin-top: 5px;
	margin-left: 10px;
}

#empresa-rotulo{
	margin-top: 5px;
	margin-left: 10px;
}

#input-copias{
	margin-right: 0px;
	width: 25px;
	text-align: center;
}

#input-da{
	margin-right: 0px; 
	width: 25px;
	text-align: center;
}

#ate{
	margin-right: 0px;
	width: 25px;
	margin-left: 0px !important; 
	margin-right: 0px;
}

#input-ate{
	margin-right: 0px; 
	width: 25px;
	text-align: center;
}

#cinza{
	width: 100%;
	text-align: left;
	height: 29px;
}

#check-todas-as-paginas{
	width: 100%;
	text-align: left;
	height: 29px;
}


/*
	PAGAMENTO
-------------------------------------------------*/

#money{
	margin-left: 50px;
	margin-right: 15px;
	margin-bottom: 25px;
}

#enviar{
	text-align: center;
	height: 29px;
	width: 95px;
	background-color: #0071bd;
	color: #ffffff;
	border: 1px solid #004084;
}

#money-total{
	text-align: center;
	height: 26px;
	width: 95px;

}
