body {
	background-color: #e5e2e4;
}

/* Header
=================================================*/
header {
	width: 100%;
	height: 60px;
	background-color: #373b47;
	color: #ffffff;
}

  header img,h1 { display: inline-block; vertical-align: top; }
  header h1 {
  	margin-top: 10px;
  	font-family: 'Lobster', cursive;
  }  

	header a {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		color: #ffffff;
	}

	header i {
		margin-left: 5px;
	}


	.go-right {
		margin-top: 20px;
		float: right;
	}

/* Navbar
================================================*/
nav {
	display: block;
	width: 100%;
	min-height: 80px;
	background-color: #0071bd;
}

	nav ul,li{ display: inline-block; }

	nav ul {
		color: #ffffff;
		font-weight: bold;
		margin-top: 25px;
	}
  
	nav li {
		cursor: pointer; 
		margin: 0 5px 0 0px;
		padding: 3px 15px 3px 15px;
		border: 1px solid #ffffff;
		border-radius: 3px;
	}

	nav li:hover {
		color: #0071bd;
		background-color: #ffffff; 		
	}

	nav a {
		color: #ffffff;
	}
	
	nav a:hover {
		color: #0071bd;
	}

/* Fonts
==========================================*/
h1,h2,h3,h4,h5,h6,p,a,ul,table,tr,td {
	font-family: 'Open Sans', sans-serif;
}

.justify {
	text-align: justify;
}
/* Linhas 
==========================================*/
hr { border: solid #d8d6d7; border-width: 1px 0 0; clear: both; margin: 5px 0 30px; height: 0; }

/* Buttons
==========================================*/

/* Forms
==========================================*/

/* Box Styles
==========================================*/

/* Links
=========================================*/
a {
	text-decoration: none;
}

/* Caixa de entrada
=========================================*/

table {	
	width: 100%;	
	margin-top: 20px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
	padding: 0;
	border-spacing: 0;

}

td a {
	margin-left: 10px ;	
	color: #555555;
}

td,th{	
	border-bottom: 1px solid #d8d6d7;
	height: 30px; 
}

.topo {
	border-width:0; 
	height: 30px; 
	width: 5%;
	background-image: -moz-linear-gradient( 90deg, rgb(236, 234, 235) 0%, rgb( 247, 245, 246) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(236, 234, 235) 0%, rgb(  247, 245, 246) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(236, 234, 235) 0%, rgb( 247, 245, 246) 100%);
}

/* Visualizar 
=======================================*/

#visualizar {
	position: relative;
	height: 100%; 
	min-height: 400px; 	
	margin-top: 20px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
}

#visualizar #header  {
	display: block;	
	border-bottom: 1px solid #d8d6d7;
	min-height: 40px; 		
	width: 100%;	
	margin: 0px !important;	
}

#visualizar #header a {
color: #0071bd;
}

#visualizar #header h4 {
	margin-top: 15px;
	margin-left: 25px;
}
#visualizar #header p{	
	margin-left: 45px; 
	margin-bottom: 15px;
}

#lista {  
	position: relative;	
	height: 100%;	
	border-right: 1px solid #d8d6d7;
	margin: 0px !important;
}
#lista li{ 
	display: block;	
	border-bottom: 1px solid #d8d6d7;
	min-height: 30px;
	width: 100%;	
}

#lista li i {
	margin: 10px;
	margin-left: 15px;
}

#pdf{
	margin: 10px;
	margin-left: 20px;	
}

/* Novo Pedido
=======================================*/

#pedido-sucesso{
	min-height: 300px; 	
	margin-top: 20px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
}

#pedido-sucesso p {
	margin-top: 15px;
	margin-left: 25px; 
	margin-bottom: 15px;
}

#pedido-sucesso p i{
	margin-right: 5px;
}

#pedido-sucesso h2,
#pedido-sucesso h3{	
	text-align: center;	
	margin-bottom: 20px;
}

#pedido-sucesso h3{
	font-weight: normal;
	margin-bottom: 50px;
}

#info-local{
	max-width: 1140px;
	min-height: 300px; 	
	margin-top: 20	px;
	background-color:  #f6f4f5;
	border: 1px solid #d8d6d7;
	color:  #555555;
	margin-bottom: 30px;
}

#info-local p, 
#info-local h3 {
	font-weight: normal;
	margin-top: 15px;
	margin-left: 25px; 
	margin-bottom: 15px;

}

#mapa {
	margin-top: 20px;
	margin-bottom: 20px;

}